.mainguide {
  max-width: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  gap: 1rem;
}

.img {
  max-width: 100% !important;
}
.logoimg {
  max-width: 80% !important;
  border-radius: 5px;
}

.slide p {
  color: gray;
  max-width: 80%;
  text-align: center;
}

.bigButt {
  background-color: var(--maincolor);
  color: white;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
}
